{% extends 'shopapp/base.html' %}

{% block title %}
  Update product
{% endblock %}

{% block body %}
  {% if perms.shopapp.change_product and product.created_by == request.user %}
    <h1>Update product</h1>
    <div>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update</button>
      </form>
    </div>
  {% else %}
    Sorry you can`t update this product
  {% endif %}
  <div>
    <a href="{% url 'shopapp:product_details' pk=object.pk %}">Back to product #{{ object.pk }}</a>
  </div>
{% endblock %}
