{% extends 'base.html' %}

{% block title %}
  Your shopping cart
{% endblock %}

{% block body %}
    <h1>Your shopping cart</h1>
    <table class="cart">
        {% for item in cart %}
            {% with product=item.product %}
                <br>
                -------------------------------------
                <br>
                <p>Продукт: {{ product.name }}</p>
                <p>Кол-во: {{ item.quantity }}</p>
                <p class="num">Цена: {{ item.price }}</p>
                <p class="num">Сумма: {{ item.total_price }}</p>
                {% with market=item.market %}
                    <p>Из магазина: {{ item.market_id }}</p>
                {% endwith %}
                <br>
                <p><a href="{% url 'app_market:cart-remove' product.id %}">Remove</a></p>
                <br>
                _____________________________________
            {% endwith %}
        {% endfor %}
        <br>
        <p>Полная стоимость товаров: {{ full_price }}</p>
        <br>

        <form method="POST" action="/marketplace/make-order/">
          {% csrf_token %}
            <input type="submit" value="Оформить заказ">
          <input type="hidden" value="{{ full_price }}" name="full_price">
        </form>
        <br>
        <br>
         <div>
            <a href="{% url 'app_market:products-map' %}">Обратно к списку заказов</a>
         </div>

        <br>
    </table>

{% endblock %}
