{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans "Products map" %]
{% endblock %}

{% block body %}
    {% if objects_list %}
        <div>
            {% for product in products %}
                <br>
                ------------------------------------------
                <p>{% trans "Product" %}: {{ product.name }}</p>
                <p>ID: {{ product.id }}</p>
                <br>
                {% for object in objects_list %}
                    {% if object.product.id == product.id %}
                            <div>
                            <p>{% trans "Market" %}: {{ object.market.name }}</p>
                            <p>{% trans "Quantity" %}: {{ object.amount }}</p>
                            </div>
                    {% endif %}
                {% endfor %}
                <div>
                    <a href="{% url 'app_market:product' pk=product.pk %}">{% trans "To product" %}</a>
                </div>
                ------------------------------------------
            {% endfor %}
        </div>
    {% else %}
        {% trans "No information" %}
    {% endif %}

{% endblock %}